<!doctype html>
  <head>
    <%- include('template/head') %>
  </head>
<html>
  <%- include('template/navbar')%>
  <% if (username) { %>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">content</th>
            <th scope="col">Url</th>
            <th scope="col">ratio</th>
            <% if (username) { %>
              <th scope="col">management</th>
            <% } %>
          </tr>
        </thead>
        <% prizes.forEach(function(prize) { %>
        <tbody>
          <tr>
            <th scope="row"><%= prize.id %></th>
            <td><%= prize.item %></td>
            <td><%= prize.content %></td>
            <td><%= prize.url %></td>
            <td><%= prize.ratio %></td>
            <% if (username) { %>
              <td>
                <div class="d-flex">
                  <a href="edit_prize/<%= prize.id %>"class="me-3 text-decoration-none">Edit</a>
                  <a href="delete_prize/<%= prize.id %>" class="text-decoration-none">Delete</a>
                </div>
              </td>
            <% } %>
          </tr>
        </tbody>
        <% }) %>
      </table>
    </div>
  <% } %>
</html>
