<!doctype html>
  <head>
    <%- include('./template/head') %>
  </head>
<html>
  <%- include('./template/navbar')%>
  <div class="container">
    <% if (errorMessage && errorMessage.length > 0) { %>
      <div class="alert alert-danger mt-3" role="alert">
        <h5><%= errorMessage %></h5>
      </div>
    <% } %>
  </div>
  <div class="container-fluid mx-auto align-items-center justify-content-center" style="width:700px;">
    <h3 class="mt-3">You are editing your post.</h3>
    <form action="/edit_article/<%= article.id %>" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text">Title</span>
        <div style="width:600px;">
          <textarea style="height: 20px;" type="text" name="title" class="form-control"><%= article.title %></textarea>
        </div>
      </div>
      <div>
        <textarea class="px-2 py-2" name="content" cols="74" rows="10"><%= article.content %></textarea>
      </div>
      <button class="btn btn-primary mt-3" type="submit">Submit</button>
    </form>
  </div>
</html>
